* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: linear-gradient(
    to right,
    #6348fe 5%,
    #610595 10% 15%,
    #21092f 17% 25%,
    #ffffff 22% 100%
  );
  /* background: #ffffff; */
}

.first--card {
  border-radius: 10px;
  background: linear-gradient(164deg, #6348fe 4.74%, #610595 88.83%);
}

.section-cards-front {
  margin-top: 20px;
  background: linear-gradient(164deg, #6348fe 4.74%, #610595 88.83%);
  width: 40rem;
  height: 22rem;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 10%;
}

.pad {
  padding: 15px 20px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn--big {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}

.btn--small {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.card {
  margin-top: 4rem;
  color: #fff;
  font-family: Space Grotesk;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.422px;
}

.holder {
  display: grid;
  grid-template-columns: 300px auto;
}

.holder--name,
.expiry--date {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Space Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-cards-back {
  width: 40rem;
  height: 22rem;
  margin-top: 20px;
  border-radius: 10px;
  background: linear-gradient(169deg, #fff 5%, #d2d3d9 91.69%);
  /* position: relative; */
  position: absolute;
  top: 50%;
  left: 15%;
}

.black--bar {
  width: 100%;
  display: block;
  height: 50px;
  background-color: black;
  position: absolute;
  top: 20;
  left: 0;
}

.card--numbers {
  width: 90%;
  margin: 50px auto;
  display: block;
  height: 50px;
  border-radius: 4px;
  background-color: #adb5be;
  position: relative;
  appearance: none;
}

.card--numbers .card {
  position: absolute;
  top: -25px;
  right: 0;
  transform: translate(-40%, 0%);
  color: var(--White, #fff);
  text-align: right;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  appearance: none;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* .image.image--icon {
display: inline-block;
  margin-bottom: 40px;
  stroke: red;
} */

.image--icon {
  display: block;
  margin-bottom: 10px;
  position: absolute;
}

.section-cards-form {
  margin-top: 20px;
  background: transparent;
  /* background: linear-gradient(164deg, #6348fe 4.74%, #610595 88.83%); */
  width: 38rem;
  height: 35rem;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 50%;
  font-family: Space Grotesk;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 10px 30px;
  visibility: visible;
}

.section-cards-form.completed {
  visibility: hidden;
}

input[type="text"] {
  border-radius: 8px;
  border: 1px solid var(--Light-Grey, #dfdee0);
  background: var(--White, #fff);
  max-width: 100%;
  height: 40px;
  padding: 0 15px;
  appearance: none;
}

input[type="number"] {
  border-radius: 8px;
  border: 1px solid var(--Light-Grey, #dfdee0);
  background: var(--White, #fff);
  max-width: 100%;
  height: 40px;
  padding: 0 15px;
  appearance: none;
}

.form--name small,
.form--number small,
.expiry--date small,
.form--cvc small,
.form--date small {
  visibility: hidden;
  position: absolute;
  color: #e74c3c;
  font-weight: bold;
  bottom: -25%;
  left: 0;
}

.expiry--date small {
  position: absolute;
  bottom: -35%;
}

.error-content {
  content: "error, please check your input field";
  color: #e74c3c;
  /* position: absolute;
  bottom: -25%;
  left: 0; */
}

.form--name {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 25px 0px;
  position: relative;
}

.form--name.success input[type="text"] {
  border: 2px solid #2ecc71;
}

.form--name.error input[type="text"] {
  border: 2px solid #e74c3c;
}

.form--name.error small {
  visibility: visible;
  color: #e74c3c;
  text-transform: lowercase;
  font-family: sans-serif;
}

.form--number.success input[type="number"] {
  border: 2px solid #2ecc71;
}

.form--number.error input[type="number"] {
  border: 2px solid #e74c3c;
}

.form--number.error small {
  visibility: visible;
  text-transform: lowercase;
  font-family: sans-serif;
}

.expiry--date.success input[type="number"] {
  border: 2px solid #2ecc71;
}

.expiry--date.error input[type="number"] {
  border: 2px solid #e74c3c;
}

.expiry--date.error small {
  visibility: visible;
  text-transform: lowercase;
  font-family: sans-serif;
}

.form--cvc.error input[type="number"] {
  border: 2px solid #e74c3c;
}

.form--cvc.success input[type="number"] {
  border: 2px solid #2ecc71;
}

.form--cvc.error small {
  visibility: visible;
  text-transform: lowercase;
  font-family: sans-serif;
}

.form--name.error input[type="text"] {
  border: 2px solid #e74c3c;
}

.form--number {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
  position: relative;
}

.form--date {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  /* width: 100%; */
  position: relative;
}

.expiry--date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 60%;
  position: relative;
}

.expiry--date .mm-exp--date, .expiry--date .yy-exp--date{
    width: 60%;
}

.form--cvc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.form-date-cvc {
  display: flex;
  /* align-items: center; */
  /* width: 100%; */
  gap: 10px;
  position: relative;
  margin-bottom: 5px;
}

.btn--submit {
  width: 100%;
  color: #fff;
  background-color: #21092f;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
}

.btn--submits {
  width: 70%;
  color: #fff;
  background-color: #21092f;
  margin-top: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
}

.btn--submit:hover,
.btn--submit:active {
  background-color: #370256;
}

.section-cards-thanks {
  margin-top: 20px;
  background: transparent;
  /* background: linear-gradient(164deg, #6348fe 4.74%, #610595 88.83%); */
  width: 38rem;
  height: 35rem;
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 20%;
  font-family: Space Grotesk;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  /* display: none; */
  visibility: hidden;
}

.section-cards-thanks.success {
  visibility: visible;
}

.thanks--icon,
.thanks--text {
  margin: 20px 0px;
}

@media only screen and (max-width: 1096px) {
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
  }
  
  html {
    font-size: 62.5%;
  }

  body {
    background: linear-gradient(
    to bottom,
    #6348fe 5%,
    #610595 10% 15%,
    #21092f 17% 25%,
    #ffffff 22% 100%
  );
  }

}

@media only screen and (max-width: 600px) {
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
  }
  
  html {
    font-size: 62.5%;
  }

  body {
    background: linear-gradient(
    to bottom,
    #6348fe 5%,
    #610595 10% 15%,
    #21092f 17% 25%,
    #ffffff 22% 100%,
    #FFFFFF 100%
  );
  }

  .section-cards-front {
    margin-top: 20px;
    background: linear-gradient(164deg, #6348fe 4.74%, #610595 88.83%);
    width: 40rem;
    height: 22rem;
    border-radius: 10px;
    position: absolute;
    top: 23%;
    left: 5%;
    z-index: 5;
  }

  .section-cards-back {
    width: 40rem;
    height: 22rem;
    margin-top: 20px;
    border-radius: 10px;
    background: linear-gradient(169deg, #fff 5%, #d2d3d9 91.69%);
    /* position: relative; */
    position: absolute;
    top: 5%;
    left: 12%;
  }

  .section-cards-form {
    margin-top: 20px;
    background: transparent;
    /* background: linear-gradient(164deg, #6348fe 4.74%, #610595 88.83%); */
    width: 38rem;
    height: 35rem;
    border-radius: 10px;
    position: absolute;
    top: 55%;
    left: 10%;
    font-family: Space Grotesk;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 10px 30px;
    visibility: visible;
  }

  .section-cards-thanks {
    margin-top: 20px;
    background: transparent;
    /* background: linear-gradient(164deg, #6348fe 4.74%, #610595 88.83%); */
    width: 38rem;
    height: 35rem;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 5%;
    font-family: Space Grotesk;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    /* display: none; */
    visibility: hidden;
  }

}
